.modal--header
  .headline.-bold Drawers
.modal--content
  .drawers
    - @drawers.each do |drawer|
      .drawer
        .drawer--name= drawer.name
        .drawer--color= drawer.color
        .drawer--users
          - drawer.users.each do |user|
            .drawer--user= link_to user, user, 'up-target': '.modal'
        .drawer--invite-code
          = drawer.invite_code
          = "(valid until #{l(drawer.invitation_expiry, format: '%A, %d.%m.%Y')})" if drawer.invitation_expiry
        = link_to '', invite_code_drawer_path(drawer), method: :patch, class: 'drawer--new-invite-code', 'up-target': '.drawers'

  = render 'drawers/form'
