- domain ||= :category

= form.hidden_field :creator_id

= render "shared/#{domain}_fields", form: form

.form--section

  - if form.object.respond_to?(:name)
    .form--group
      = form.label :name, class: 'form--label'
      = form.text_field :name, class: 'form--field'

  - if form.object.respond_to?(:description)
    .form--group
      = form.label :description, class: 'form--label'
      = form.text_area :description, class: 'form--text-area'
      -# WISYWIG
