- if form.object.respond_to?(:category)
  - new_category = form.object.category.present? && form.object.category.id.nil?
  - category = new_category_for(form.object)

  .form--group
    - object_class_name = form.object.class.name.underscore
    = form.label :category_id, class: 'form--label'
    - selected_category = new_category ? 'new' : form.object.category&.id
    = form.select :category_id, form_collection_hightlighted(sorted_categories(current_user.categories.all + [category])), { include_blank: 'none', selected: selected_category }, class: 'form--select', 'ddf-switch': "[collapsable-element=\"#{object_class_name}-category\"]"

    = form.fields_for :category, include_id: false do |category_form|
      .inline-form(collapsable-element="#{object_class_name}-category" ddf-show-for='new')
        .inline-form--content(collapsable-content)
          .inline-form--group(w-50)
            = category_form.label :name, class: 'form--label'
            = category_form.text_field :name, class: 'form--field'
          .inline-form--group(w-50)
            = category_form.label :priority, class: 'form--label'
            = category_form.number_field :priority, class: 'form--field'
