.form--fields(attachment)
  = render 'shared/basic_fields', form: form
  .form--section

    .form--group
      = form.label :file, class: 'form--label'
      = form.file_field :file, class: 'form--field'

    .form--group
      = form.label :folder, class: 'form--label'
      = form.text_field :folder, class: 'form--field'

  = render 'shared/submit_fields', form: form
