.home-form(dropdown up-data="#{form_colors.to_json}")
  - kinds = memo_kinds
  .home-form--radio-buttons
    = collection_radio_buttons :form, :kind, kinds, :to_s, :humanize do |b|
      = b.label(class: 'home-form--radio-button-label', "#{b.value}": '') do
        = b.radio_button(class: 'home-form--radio-button hidden', 'up-switch': '[dropdown-content]', 'dropdown-trigger': true) + b.text

  .home-form--dropdown(dropdown-element state="collapse")
    = render 'notes/home_form'
    = render 'todos/home_form'
    = render 'bookmarks/home_form'
    = render 'attachments/home_form'
    = render 'ideas/home_form'
    = render 'images/home_form'
    = render 'events/home_form'
    .home-form--collapse(dropdown-collapse)
      = image_tag 'collapse.svg'
