.sidebar
  .sidebar--section
    .sidebar--headline
      Drawers
      = link_to drawers_path, 'up-modal': '.modal' do
        (edit)

    = form_for current_user, html: { 'up-autosubmit': 'true', 'up-target': '.content--body', 'up-restore-scroll': 'true' } do |form|
      = form.fields_for :drawer_mappings do |drawer_mappings_form|
        .sidebar--drawer
          = drawer_mappings_form.label :selected, class: 'sidebar--drawer-label', 'checkbox': true do
            - color = drawer_mappings_form.object.selected? ? drawer_mappings_form.object.drawer.color : nil
            .checkbox{ selected: drawer_mappings_form.object.selected?, color: color }
            .checkbox--text= drawer_mappings_form.object.drawer
          = drawer_mappings_form.check_box :selected, class: :hidden
