.home-index

  .home-index--section= render 'todos/index_list'
  .home-index--section= render 'galleries/index_list'
  .home-index--section
    .entries
      - (Note.all + Idea.all).each do |entry|
        .entry{ "#{entry.class.name.underscore}": '' }
          .entry--content
            .entry--name= entry.name
            .entry--description= entry.description
            - if entry.creator != current_user
              .entry--footer= entry.creator.name
