.home
  .home-hero
    .home-hero--background
    .home-hero--tab.-left
      = render 'notes/hero_list'
      = render 'sidebar'
      .home-hero--content
        = image_tag 'minimize.svg', class: 'home-hero--content-toggle', 'hero-content-toggle': ''
        = render 'todos/hero_list'
        = render 'calendars/hero_list'

    .home-hero--tab.-right
      .home-hero--content
        = render 'options'

  .home-content
    = render 'galleries/index_list'
