.home
  .home-hero
    .home-hero--tab.-left
      - if user_signed_in?
        = render 'layouts/sidebar'
      .home-hero--content
        = render 'todos/hero_list'
        = render 'calendars/hero_list'

    .home-hero--tab.-right
      .home-hero--content
        = render 'options'

  .home-content
    = render 'galleries/index_list'
    = render 'galleries/index_list'
    .placeholder.-huge
    = render 'galleries/index_list'
    = render 'galleries/index_list'
    .placeholder.-huge
    = render 'galleries/index_list'
    .placeholder.-huge
    .placeholder.-huge
    = render 'galleries/index_list'
    = render 'galleries/index_list'
    .placeholder.-huge
    = render 'galleries/index_list'
    = render 'galleries/index_list'
    .placeholder.-huge
-# .home-index--section
-#   .entries
-#     - (Note.all + Idea.all).each do |entry|
-#       .entry{ "#{entry.class.name.underscore}": '' }
-#         .entry--content
-#           .entry--name= entry.name
-#           .entry--description= entry.description
-#           - if entry.creator != current_user
-#             .entry--footer= entry.creator.name
