.section
  .section--text
    %p
      Der
      %span.section--headline<
        Gottesdienst am Sonntag
      ist unsere zentrale Veranstaltung, die jede Woche sonntags ab 10 Uhr im Gemeindezentrum stattfindet.
      Wir laden herzlich dazu ein. Parallel zum Gottesdienst bieten wir für Kinder von drei bis zwölf Jahren einen
      eigenen Kindergottesdienst an.
    %p
      Nach dem Gottesdienst laden wir Sie ein, noch ein wenig zu bleiben, um bei Kaffee und kalten Getränken
      in unserem Gemeinde-Café mit uns ins Gespräch zu kommen.

  .section--cards
    .section--card
      = link_to news_feg_path, class: 'section--card-link', 'up-target': '.content', 'up-reveal': '.jump-tag' do
        .section--card-image= image_tag 'feg/zeitungen.jpg'
        .section--card-caption Aktuelles
    .section--card
      = link_to about_us_feg_path, class: 'section--card-link', 'up-target': '.content', 'up-reveal': '.jump-tag' do
        .section--card-image= image_tag 'feg/gemeindeleitung.jpg'
        .section--card-caption Das sind wir
    .section--card
      = link_to our_believes_feg_path, class: 'section--card-link', 'up-target': '.content', 'up-reveal': '.jump-tag' do
        .section--card-image= image_tag 'feg/buch.png'
        .section--card-caption Was wir glauben
    .section--card
      = link_to feg_preaches_path, class: 'section--card-link', 'up-target': '.content', 'up-reveal': '.jump-tag' do
        .section--card-image= image_tag 'feg/sunset.jpg'
        .section--card-caption Predigten

  .section--text
    %p
      Während der Woche bieten wir
      %span.section--headline<
        weitere Veranstaltungen
      an, zu denen Sie ebenfalls herzlich eingeladen sind.

    %p
      Ein Mal monatlich trifft sich die ganze Gemeinde zum „Treffpunkt Gemeinde“ im Gemeindezentrum. Hier geht es um bestimmte biblische oder gesellschaftsrelevante Themen, die unseren Alltag betreffen. In regelmäßigen Abständen feiern wir in diesem Rahmen auch gemeinsam das Abendmahl.

    %p
      Wir haben verschiedene Hauskreise in unserem Gemeindezentrum, in Haunstetten und in der Augsburger Umgebung.

    %p
      Auch Jugendliche haben während der Woche ihr eigenes Programm:

      %ul
        %li Jugendkreis
        %li United

  .section--text
    %p
      Ist etwas für Sie dabei? Wir freuen uns, wenn Sie bei uns vorbei schauen. Sollten Sie noch Fragen haben,
      dann nehmen Sie
      %span.section--headline<
        Kontakt
      mit uns auf.
