.home-hero--section
  .todos
    .headline
      Todo's
      = link_to todos_path, 'up-modal': '.modal' do
        (all)
    .todos--table(columns="5")
      .todos--row
        .todos--cell(align-center narrow) Done
        .todos--cell(align-center narrow) Priority
        .todos--cell(wide) Name
        .todos--cell(wide) Description
        .todos--cell(align-right semi-narrow) Deadline

      -# - @todos.ordered.first(3).each do |todo|
      - @todos.ordered.first(3).each do |todo|
        = link_to todo, class: ['todos--row', 'todo', 'color-hover'], id: todo.id, done: todo.done, 'up-modal': '.todo' do
          .todos--cell
            .todo--done
              = form_for todo, html: { 'up-autosubmit': 'true', 'up-target': '.todos', 'up-restore-scroll': 'true' } do |form|
                = form.label :done, class: 'todo--checkbox-label', 'checkbox': true, for: "todo_#{todo.id}_done" do
                  .checkbox{selected: form.object.done?}
                = form.check_box :done, id: "todo_#{todo.id}_done", class: :hidden
          .todos--cell
            .todo--priority
              = todo.priority
          .todos--cell
            .todo--name
              = todo.name
          .todos--cell
            .todo--description
              = todo.description.presence || '–'
          .todos--cell
            .todo--deadline
              = todo.deadline.presence || '–'
