.todo
  Name:
  .todo--field= @todo.name
  Description:
  .todo--field= @todo.description
  Drawer:
  .todo--field= @todo.drawer
  Dealine:
  .todo--field= @todo.deadline
  Priority:
  .todo--field= @todo.priority
