.modal--header
  .headline.-bold= @todo.name
.modal--content
  .todo
    Description:
    .todo--field= @todo.description
    Drawer:
    .todo--field= @todo.drawer
    Dealine:
    .todo--field= @todo.deadline
    Priority:
    .todo--field= @todo.priority
