- image_count = @galleries.traverse_association(:images).count
- if @galleries && @galleries.length > 0 && image_count > 0
  .home-content--section
    .galleries
      - @galleries.each do |gallery|
        - if gallery.images.any?
          .galleries--container
            .headline
              = gallery.name
              = "(Drawer: #{gallery.drawer.name})"
              -# = link_to '(all)', gallery_show_all_path(gallery)
            .gallery(gallery="#{gallery.id}")
              - gallery.images.each do |image|
                = link_to image_tag(image.file.thumb.url, class: 'image--thumbnail'), image_path(image), 'up-modal': '.image', class: ['image--thumbnail-container', 'gallery--image']
              .gallery--fill
