- if @galleries.length > 0 || @images.length > 0
  .home-content--section
    .galleries
      - @galleries.each do |gallery|
        .galleries--container
          .headline
            = gallery.name
            = "(Drawer: #{gallery.drawer.name})"
            = link_to '(show all)', gallery_show_all_path(gallery)
          .gallery(gallery="#{gallery.id}")
            - gallery.images.each do |image|
              = link_to image_tag(image.file.thumb.url, class: 'image--thumbnail'), image_path(image), 'up-modal': '.image', class: ['image--thumbnail-container', 'gallery--image']
            .gallery--fill
