
- new_gallery = form.object.gallery.present? && form.object.gallery.id.nil?
- gallery = new_gallery_for(form.object)

.form--section
  .form--group
    - object_class_name = form.object.class.name.underscore
    = form.label :gallery_id, class: 'form--label'
    - selected_gallery = new_gallery ? 'new' : form.object.gallery&.id
    = form.select :gallery_id, form_collection_hightlighted(sorted_galleries(current_user.galleries.all + [gallery])), { include_blank: 'none', selected: selected_gallery }, class: 'form--select', 'ddf-switch': "[collapsable-element=\"#{object_class_name}-gallery\"]"

.form--section
  = form.fields_for :gallery, include_id: false do |gallery_form|
    = gallery_form.hidden_field :creator_id
    .inline-form(collapsable-element="#{object_class_name}-gallery" ddf-show-for='new')
      .inline-form--content(collapsable-content)
        .form--group
          = gallery_form.label :name, class: 'form--label'
          = gallery_form.text_field :name, class: 'form--field'
        .form--group
          = gallery_form.label :description, class: 'form--label'
          = gallery_form.text_area :description, class: 'form--field'

        -# .form--section
        -#   .form--group
        -#     = render 'shared/category_fields', form: gallery_form
