.sidebar
  .sidebar--section
    .sidebar--headline
      Categories
      = link_to categories_path, class: ['icon', '-edit'], 'up-modal': '.modal' do
        (
        = render 'svg/edit'
        )

    = form_for current_user, html: { 'up-autosubmit': 'true', 'up-target': '.content--body', 'up-restore-scroll': 'true' } do |form|
      = form.fields_for :category_mappings do |cm_form|
        .sidebar--category
          = cm_form.label :selected, class: 'sidebar--category-label', 'checkbox': true do
            .checkbox{selected: cm_form.object.selected?}
            = cm_form.object.category
          = cm_form.check_box :selected, class: :hidden
