!!! 5

%html
  %head
    %title Memorizationalize
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .header= render 'layouts/header'
    .content
      -#= render 'layouts/flash_message'
      .content--body
        - if user_signed_in?
          = render 'layouts/sidebar'
        .content--container
          = yield
    .footer= render 'layouts/footer'
